name: PR checks
on:
  pull_request:
    branches:
      - master
permissions:
  contents: read
jobs:
  Run-CI-Script:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
      - uses: azure/setup-kubectl@v4
        with:
          version: 'v1.21.8' # default is latest stable
      - run: ci/pr.sh
